<mat-card>
    <mat-card-content class="header">
        <h1>Audyssey Editor</h1>

        <span style="flex-grow: 1"></span>

        <a href="https://t.me/vonder" class="icon-link" title="Contact me in Telegram" target='_blank'>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 240.1 240.1" width="20" >
            <linearGradient id="a" x1="-838" x2="-838" y1="660.6" y2="660.3" gradientTransform="matrix(1000 0 0 -1000 838161 660581)" gradientUnits="userSpaceOnUse">
              <stop offset="0" stop-color="#424d58"/>
              <stop offset="1" stop-color="#272a2f"/>
            </linearGradient>
            <circle cx="120.1" cy="120.1" r="120.1" fill="url(#a)" fill-rule="evenodd" clip-rule="evenodd"/>
            <path fill="#FFF" fill-rule="evenodd" d="M54.3 118.8c35-15.2 58.3-25.3 70-30.2 33.3-13.9 40.3-16.3 44.8-16.4 1 0 3.2.2 4.7 1.4 1.2 1 1.5 2.3 1.7 3.3s.4 3.1.2 4.7c-1.8 19-9.6 65.1-13.6 86.3-1.7 9-5 12-8.2 12.3-7 .6-12.3-4.6-19-9-10.6-6.9-16.5-11.2-26.8-18-11.9-7.8-4.2-12.1 2.6-19.1 1.8-1.8 32.5-29.8 33.1-32.3.1-.3.1-1.5-.6-2.1-.7-.6-1.7-.4-2.5-.2-1.1.2-17.9 11.4-50.6 33.5a22.5 22.5 0 0 1-13 4.8 86.6 86.6 0 0 1-18.7-4.4c-7.5-2.4-13.5-3.7-13-7.9.3-2.2 3.3-4.4 8.9-6.7z" clip-rule="evenodd"/>
          </svg>
          <span>Contact</span>
        </a>

        <a href='https://ko-fi.com/vladi_ed' class="icon-link" target='_blank'>
          <img src='https://storage.ko-fi.com/cdn/cup-border.png' alt='Buy Me a Coffee' />
          <span>Donate</span>
        </a>
    </mat-card-content>
</mat-card>
<main #main class="loading">
    <div class="left-panel">
        <div class="load-overlay"></div>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Profile</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="profile-container">
                    <mat-form-field appearance="outline" class="profile-input" floatLabel="always" subscriptSizing="dynamic">
                        <mat-label>Name</mat-label>
                        <input matInput [(ngModel)]="audysseyData.title" [disabled]="!audysseyData.detectedChannels.length">
                    </mat-form-field>
                    <button mat-flat-button color="primary" (click)="profileFileInput.click()" matTooltip="Import ADY File">
                        <mat-icon>file_upload</mat-icon>
                        Import
                        <input
                            #profileFileInput
                            id="input-file-id" 
                            type="file"
                            accept=".ady"
                            onclick="this.value=null"
                            (change)="onProfileUpload(profileFileInput.files)"
                            hidden
                        />
                      </button>
                </div>
            </mat-card-content>
        </mat-card>
        <system-info-card
            [audysseyData]="audysseyData"
            (dynamicEQChange)="audysseyData.dynamicEq=$event"
            (dynamicVolumeChange)="audysseyData.dynamicVolume=$event"
            (targetCuveChange)="audysseyData.enTargetCurveType=$event"
            />
        <mat-card>
            <button mat-flat-button color="primary" (click)="exportFile()" matTooltip="Export and download current settings as ADY file">
                <mat-icon>file_download</mat-icon>
                Export
            </button>
        </mat-card>
    </div>
    <div class="right-panel">
        <div class="load-overlay"></div>
        <mat-accordion class="info-panels">
            <mat-expansion-panel #channelPanel (closed)="targetCurvePanel.expanded = true" expanded>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Channel Info
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <channel-info-panel
                    [(channelData)]="audysseyData.detectedChannels"
                />
            </mat-expansion-panel>
            <mat-expansion-panel #targetCurvePanel (closed)="channelPanel.expanded = true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Target Curve
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <target-curve-panel
                    [(channelData)]="audysseyData.detectedChannels"
                    [targetCurve]="audysseyData.enTargetCurveType"
                />
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</main>
