$layout-gap: 20px;

:host {
  color: #333;
  display: block;
  padding: $layout-gap;

  @media (max-width: 500px) {
    padding: 0
  }

  // Global adjustment to sizing of form field wrappers
  ::ng-deep .mat-mdc-form-field-infix {
    min-height: unset !important;
    padding: 10px 0 !important;
    width: unset !important;
  }

  // Global style for buttons
  ::ng-deep button:not(.mdc-switch) {
    height: auto;
    padding: 12px;
  
    .label {
      align-items: center;
      display: flex;
      gap: 5px;
      justify-content: center;
    }

    // Icon-only button with less padding
    &.icon-only-btn {
      line-height: 1;
      min-width: unset;
      padding: 6px;
    
      mat-icon {
        margin: 0;
        padding: 0;
      }
    }
  }

  ::ng-deep mat-button-toggle-group {
    background-color: #777;
    border-color: #a0a0a0;
    --mat-standard-button-toggle-selected-state-text-color: white;
    --mat-standard-button-toggle-selected-state-background-color: #555;

    button.mat-button-toggle-button {
      font-size: 12px;
      padding: 4px;

      span.mat-button-toggle-label-content {
        line-height: 1;
      }
    }
  }

  ::ng-deep mat-card-header {
    margin-bottom: 15px;
    margin-top: -4px;
    font-weight: bold;
  }
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 24px;
  row-gap: 10px;
  padding: 24px;

  a {
    color: #333;
  }

  h1 {
    margin: 0;
  }

  .icon-link {
    display: flex;
    gap: 8px;
    text-decoration: none;
    padding-top: 2px;

    img {
      height: 20px;
    }
  }

  @media (max-width: 500px) {
    select, span {
      display: none;
    }

    h1 {
      margin-top: 5px;
      margin-bottom: 10px;
      text-align: center;
      width: 100%;
    }
  }
}

main {
  align-items: flex-start;
  display: flex;
  gap: $layout-gap;
  margin-top: $layout-gap;

  @media (max-width: 500px) {
    flex-direction: column;
  }
}

.info-panels {
  --mat-expansion-header-text-size: 16px;
  @media (max-width: 600px) {
    width: 95%;
  }
}

.left-panel {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
  min-width: 240px;

  .profile-container {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    gap: 10px;
  
    .profile-input {
      flex: 1 1 auto;
      input  {
        font-weight: bold;
        text-align: center;
      }
    } 
  }
  
  .export-card {
    align-items: stretch;
    display: flex;
    flex-direction: column;
  }
}

.right-panel {
  flex: 1 1 0;
  overflow: hidden;
}
