<form #pointsForm="ngForm" class="container">
  <div class="points-container">
    <div *ngFor="let point of (curvePoints); let i = index" class="point-row">
      <mat-form-field appearance="outline" floatLabel="always" subscriptSizing="dynamic" style="flex: 1 1 auto">
        <mat-label>Freq (Hz)</mat-label>
        <input matInput [ngModel]=point.freq (change)="changeFreq($event, i)" required inputmode="decimal" pattern="[1-9][0-9]*([.][0-9]+)?" size=8 minlength=2 [name]="'Frequency' + i">
      </mat-form-field>
      <mat-form-field appearance="outline" floatLabel="always" subscriptSizing="dynamic" style="flex: 1 1 auto">
        <mat-label>Gain (dB)</mat-label>
        <input matInput [ngModel]=point.gain (change)="changeGain($event, i)" required inputmode="decimal" pattern="(\d|(1[0-2]))([.][0-9]+)?" size=8 minLength=1 [name]="'Gain' + i">
      </mat-form-field>
      <button mat-button color="accent" aria-label="Remove control point" matTooltip="Remove control point" class="icon-only-btn" (click)="removePoint(i)">
        <mat-icon>delete_forever</mat-icon>
      </button>
    </div>
  </div>
  <button mat-button color="accent" aria-label="Add new control point" style="margin-top: 8px" (click)="addPoint()">
    <mat-icon>add_circle_outline</mat-icon>
    Add New
  </button>
</form>
